html, body{
    font-family: Noto Sans KR, MalgunGothic, sans-serif;
    font-size: 14px;
    background-color: #f6f8f9;
    margin : 0;
    padding : 0;
}

div.container{
    margin: -70px 0 -80px 0;
    padding: 70px 0 80px 0;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
}

nav{
    background-color: #e8e8e8;
    float : left;
    width : 20%;
}

.content{
    background-color: #faefc5;
    width : 80%;
}

ul{
    list-style: none;
}

li{
    margin-top : 10px;
}

nav, .content { 
    padding : 30px;

}