header {
    font-family: NanumGothic;
    position: relative;
    background-color: #fff;
    height: 70px;   /* 이 값을 변경하면, content의 margin, padding 수정 */
    margin-bottom: 0px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.15);
    border: 0;
    padding : 0 300px 0 300px
}

header .lnk li+li:before {
    display: inline-block;
    width: 2px;
    height: 16px;
    margin: 6px 31px 0 27px;
    background: #e9ebec;
    content: '';
    vertical-align: top;
}

header .lnk{
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0px;
}

header li{
    display: inline-block;
}

header a{
    font-weight: 600;
    color: #010101;
}